@import "./animation.scss";
@import "./variables.scss";


body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

nav {
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    display: grid;
    grid-template-columns: 40% 60%;
    color: white;

    h3 {
        grid-column: 1;
        font-size: 40px;
        margin: 0;
        height: 50%;
        text-align: center;
        position: relative;
        margin: 0;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
            cursor: pointer;
        }
    }

    ul {
        grid-column: 2;
        display: flex;
        align-items: center;
        margin: 0;
        height: 100%;

        a {
            font-size: 17px;
            margin: 20px;

            &:hover {
                cursor: pointer;
            }
        }

        img {
            height: 15px;
            width: auto;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

header {
    height: 100vh;
    width: 100%;
    background-image: url(images/Clip.png);
    background-position: center;
    background-size: cover;
    z-index: -1;

    .overlay {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-image: url(images/Gradient%20Overlay.png);
        background-position: center;
        background-size: cover;
        opacity: 20%;
        z-index: 1;
    }

    .intro {
        position: absolute;
        z-index: 2;
        width: 100%;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        color: white;

        h3 {
            width: 100%;
            margin: 0;
            font-size: 60px;
            text-align: center;

            &:hover {
                cursor: default;
            }
        }

        h2 {
            position: relative;
            width: 100%;
            margin: 0;
            line-height: 100%;
            font-size: 140px;
            text-align: center;

            &:hover {
                cursor: default;
            }
        }

        hr {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            border: 2px solid #fff;
            border-radius: 10px;
            margin: 30px 0;
        }

        button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(225, 225, 255, 0);
            border: 3px solid #fff;
            border-radius: 3px;
            padding: 12px 40px;
            color: white;
            font-size: 14px;
            margin: 75px 0;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

section {
    text-align: center;
    width: 100%;

    .title {
        text-align: center;
        margin: auto;

        h3 {
            font-size: 26px;
            margin: 0;
        }

        h2 {
            font-size: 30px;
            margin-top: 5px;
            margin-bottom: 0;
        }

        hr {
            color: #F38181;
            width: 60px;
            border: 2px solid #F38181;
            border-radius: 10px;
            margin: 25px auto;
        }

        p {
            font-size: 15px;


            margin: 0 auto;
            width: 63%;
        }
    }
}

.aboutUs {
    height: 75vh;

    .con {
        position: relative;
        width: 100%;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);

        .images {
            padding: 45px 0 20px;

            img {
                height: 220px;
                width: auto;
                margin: 10px;

                &:hover {
                    animation-name: boxShadow;
                    animation-fill-mode: forwards;
                    animation-duration: 0.3s;
                }
            }
        }
    }
}

.facts {
    height: 25vh;
    background: #95E1D3;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: default;
    }

    .box {
        height: 100%;
        width: 12%;
        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;

        h4 {
            font-size: 70px;
            margin-bottom: 0;
            margin-top: 0;
        }

        p {
            font-size: 15px;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

.services {
    height: 75vh;

    .con {
        position: relative;
        width: 100%;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);

        .articles {
            width: 70%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;

            article {
                width: 33%;
                display: grid;
                padding: 25px;
                box-sizing: border-box;
                margin-bottom: 40px;

                img {
                    grid-row: 1/3;
                    grid-column: 1;
                    clear: none;
                    margin: 0;
                    margin-right: 21px;
                    height: 27px;
                    width: auto;
                }

                h6 {
                    grid-row: 1;
                    grid-column: 2;
                    clear: none;
                    margin: 0;
                    padding: 0;
                    font-size: 12px;
                    text-align: left;
                }

                p {
                    grid-row: 2;
                    grid-column: 2;
                    clear: none;
                    margin: 0;
                    padding: 0;
                    font-size: 13px;
                    text-align: left;
                    margin: 10px 0 0;
                    line-height: 160%;

                }
            }
        }
    }
}

.devices {
    height: 80vh;
    background-image: url(images/Clip5.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.services2 {
    height: 75vh;
    max-height: 75vh;
    display: flex;
    align-content: center;

    .con {
        width: 100%;
        margin: auto;

        .accordions {
            width: 70%;
            height: auto;
            margin: auto;
            display: flex;
            height: 65%;
            flex-wrap: wrap;
            justify-content: space-between;

            .img {
                height: 100%;
                width: 48%;
                background-image: url(images/Clip8.png);
                background-size: cover;
                background-position: center;
            }

            .accordionContainer {
                height: 100%;
                width: 48%;

                .accordion {
                    width: 100%;
                    height: 15%;
                    background: #fff;
                    border: 1px solid #E5E5E5;
                    display: flex;
                    justify-content: flex-start;
                    align-content: center;
                    margin-bottom: 10px;
                    padding: 10px;

                    &:hover {
                        cursor: pointer;
                    }

                    &:focus {
                        outline: 0;
                    }

                    h6 {
                        margin: auto 10px;
                        padding: 0;
                        font-size: 14px;
                    }
                }

                .panal {
                    display: none;
                    height: 50%;
                    width: 100%;
                    padding: 5px;
                    background: #fff;
                    border: 1px solid #E5E5E5;
                    border-top: 0;
                    margin-top: -10px;
                    margin-bottom: 10px;
                    overflow-y: scroll;


                    p {
                        margin: 0;
                        padding: 5px;
                        text-align: left;
                        font-size: 16px;
                    }
                }

                .panal:nth-child(4) {
                    display: block;

                }
            }
        }
    }
}

.quotes {
    height: 25vh;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: default;
    }

    div {
        background: red;
        width: 60%;
        height: 70%;

        .quote {
            display: grid;
            width: 100%;
            height: 100%;

            img {
                grid-column: 1;
                grid-row: 1/3;
                background: #fff;
                height: 110px;
                width: auto;
            }

            p {
                grid-column: 2;
                grid-row: 1;
                background: #f0f;
                font-size: 14px;
            }

            h5 {
                grid-column: 2;
                grid-row: 2;
                background: #ff0;
                font-size: 22px;
            }
        }
    }
}

.team {
    height: 95vh;

    .con {
        position: relative;
        width: 100%;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);

        .images {
            padding: 45px 0 20px;
            display: flex;
            justify-content: center;

            div {

                img {
                    height: 370px;
                    width: auto;
                    margin: 10px;

                    &:hover {
                        animation-name: boxShadow;
                        animation-fill-mode: forwards;
                        animation-duration: 0.3s;
                    }
                }

                h6 {
                    margin: 0px;
                    padding: 0;
                    font-size: 14px;
                }

                p {
                    margin: 0;
                    font-size: 16px;
                }
            }

        }
    }
}

.logos {
    height: 25vh;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: default;
    }
}

.work {
    height: 100vh;

    .con {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        .imgGrid {
            max-width: 80%;
            display: grid;
            margin: auto;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            img:nth-child(3) {
                grid-row: 1/3;
                grid-column: 3/4;
            }

            img {
                width: 100%;
                height: auto;

                &:hover {
                    animation-name: img;
                    animation-duration: 0.3s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

.blog {
    height: 75vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .posts {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: auto;

        .post {
            width: 31%;


            .img {
                background-image: url(images/blog1.png);
                background-size: cover;
                background-position: center;
                height: 210px;


                .date {
                    background: #95E1D3;
                    width: 15%;
                    position: relative;
                    top: 65%;
                    left: -10px;


                    h6 {
                        font-size: 27px;
                        margin: 0;
                        padding: 8px 0;
                        color: white;

                        span {
                            font-size: 13px;
                            margin: 0;
                            padding: 0;
                            color: white;
                        }
                    }
                }

            }

            .content {
                h5 {
                    font-size: 14px;
                    text-align: left;
                    margin: 18px auto 7px;
                }

                p {
                    font-size: 15px;
                    text-align: left;
                    margin: 0 auto;
                }

                .viwes {
                    display: flex;

                    img,
                    p {
                        margin: auto 2px;
                    }

                    img:nth-child(3) {
                        margin-left: 13px;
                    }
                }
            }
        }
    }
}
